<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeongchan.mapper.ChatMapper">
	
	<insert id="submit">
		insert into chat values(chatseq.nextval,#{chatName},#{chatContent},sysdate)
	</insert>
	
	<select id="getChatList" parameterType="String" resultMap="ChatVOResultMap">
		<![CDATA[
			select * from chat where chat_time > #{nowTime} 
		]]>
	</select>
	
	<select id="getChatListByRecent1" parameterType="Integer" resultMap="ChatVOResultMap">
		<![CDATA[
			select * from chat where chat_id > (select MAX(chat_id) - #{number} from chat) order by chat_time
		]]>
	</select>
	
	<select id="getChatListByRecent2" parameterType="Integer" resultMap="ChatVOResultMap">
		<![CDATA[
			select * from chat where chat_id > #{chatId} order by chat_time
		]]>
	</select>
	
	<resultMap type="com.jeongchan.domain.ChatVO" id="ChatVOResultMap">
		<id property="chatId" column="chat_id"/>
		<result property="chatName" column="chat_name"/>
		<result property="chatContent" column="chat_content"/>
		<result property="chatTime" column="chat_time"/>
		
	</resultMap>
</mapper>